# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [0]:
import pandas as pd
import numpy as np

#somente para o colab
import requests

In [0]:
#black_friday = pd.read_csv("black_friday.csv")

#somente para o colab
url = 'https://raw.githubusercontent.com/rafael-bianchi/codenation-dev-ds-online/master/data-science-0/black_friday.csv'
black_friday = pd.read_csv(url, error_bad_lines=False)

## Inicie sua análise a partir daqui

In [0]:
black_friday.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [0]:
black_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [0]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [0]:
def q1(): 
  return black_friday.shape
q1()
pass

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [0]:
def q2():
 return black_friday['User_ID'][(black_friday.Gender == 'F') & (black_friday.Age == '26-35')].shape[0]
q2()
pass

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [0]:
def q3():
  return black_friday['User_ID'].nunique()
q3()
pass

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [0]:
def q4():
  return black_friday.dtypes.nunique()
q4()
pass

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [0]:
def q5():
  reg_null = black_friday.shape[0] - black_friday.dropna().shape[0]
  return reg_null/black_friday.shape[0]
q5()
pass

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [0]:
def q6():
  return int(black_friday.isnull().sum().max())
q6()
pass

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [0]:
def q7():
  return float(black_friday['Product_Category_3'].mode())
q7()
pass

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [0]:
def q8():
  bf_pcse = black_friday['Purchase']
  norm = (bf_pcse - bf_pcse.min()) / (bf_pcse.max() - bf_pcse.min())
  return float(norm.mean())
q8()
pass

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [0]:
def q9():
  bf_psce = black_friday['Purchase']
  pdnz = (bf_psce - bf_psce.mean()) / (bf_psce.std())
  return int(((pdnz >= -1) & (pdnz <= 1)).sum())
q9()
pass

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [0]:
def q10():
  null_both = black_friday['Product_Category_2'].isnull() == black_friday['Product_Category_3'].isnull()
  if True in null_both:
    return True
  else:
    return False
q10()
pass

True